@media (min-width: 1024px) {
  .narbar-menu input {
    display: none;
  }
  .navbar-menu-list {
    display: none;
  }
  .narbar-menu-btn {
    display: none;
  }
  .header-menu-mobile {
    display: none;
  }
}

@media screen and (max-width: 1023px) {
  .header-img {
    background-position: left bottom;
  }
  .header-img-left {
    display: none;
  }
  .header-img-right {
    transform: translateX(45%);
  }

  .navbar {
    justify-content: space-between;
  }
  .navbar-list {
    display: none;
  }

  .narbar-menu-btn {
    font-size: 4rem;
    cursor: pointer;
    margin-left: 1rem;
  }

  .header-menu-mobile {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 2;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    animation: FadeInMe 0.2s linear;
    display: none;
    pointer-events: all;
  }
  .navbar-menu-mobile {
    position: absolute;
    background-color: white;
    border-radius: 0 0 8px 8px;
    color: #23272a;
    padding: 2.4rem 4.8rem 12rem 3rem;
    height: 550px;
    width: 400px;
    max-height: 100%;
    top: 0;
    right: 0;
    animation: FadeInRightMe 0.2s linear;
    display: none;
    z-index: 20;
    pointer-events: all;
  }
  @keyframes FadeInMe {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes FadeInRightMe {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .header-menu-mobile input:checked ~ .overlay {
    display: block;
  }
  .header-menu-mobile input:checked ~ .navbar-menu-mobile {
    display: block;
  }

  .navbar-menu-mobile svg {
    cursor: pointer;
  }
  .navbar-menu-list {
    margin-top: 3rem;
    padding-top: 1rem;
    border-top: 1px solid #ccc;
    list-style: none;
    max-height: 80%;
    overflow-y: scroll;
  }
  .navbar-menu-link {
    display: block;
    padding: 1.4rem 2rem;
    font-size: 1.6rem;
    text-decoration: none;
    color: #23272a;
    border-radius: 4px;
  }

  .navbar-menu-item:hover .navbar-menu-link {
    text-decoration: underline;
  }

  .navbar-menu-link.active {
    color: #00b0f4;
    background-color: #f6f6f6;
  }
  .navbar-mobile-btn {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: #5865f2;
    color: white;
    width: 80%;
    font-size: 1.6rem;
  }
  .navbar-mobile-btn ion-icon {
    transform: scale(1.5);
  }
  .navbar-mobile-btn:hover {
    background-color: hsl(235, 86.1%, 71.8%);
  }
  .navbar-menu-close {
    position: absolute;
    top: 1.4rem;
    right: 1rem;
    padding: 1rem;
    font-size: 3rem;
    cursor: pointer;
  }
  .header-content {
    text-align: left;
  }
  .header-title {
    padding: 0;
    padding-right: 6rem;
    font-size: 6rem;
    margin-bottom: 2rem;
  }
  .header-content-btn {
    margin-top: 3rem;
    align-items: flex-start;
    flex-direction: column;
  }
  .header-content-btn--right {
    margin: 0;
    margin-top: 2rem;
  }
  .footer-social-title {
    text-align: center;
  }
  .footer-social-list {
    justify-content: center;
    margin-bottom: 2rem;
  }
  .footer-text-list {
    margin-bottom: 2rem;
  }
  .footer-text-link {
    font-size: 2rem;
  }
  .footer-text-header {
    font-size: 2.6rem;
  }
}

@media (max-width: 739px) {
  .btn {
    font-size: 1.4rem;
  }
  .btn .btn-icon {
    margin-right: 1rem;
  }
  .header-img {
    background-image: none;
  }
  .header {
    padding: 0 2.4rem;
    padding-bottom: 16rem;
  }
  .header-title {
    padding: 0;
    font-size: 3.6rem;
  }
  .header-img-left {
    display: block;
    bottom: 0;
    left: 0;
    transform: translateX(30%) scale(0.7);
    transform-origin: bottom;
  }
  .header-img-right {
    display: none;
  }
  .navbar-menu-mobile {
    width: 100%;
  }
  .main-content {
    padding: 6rem 2rem;
    padding-bottom: 4rem;
  }
  .main-content-title {
    font-size: 2.8rem;
    margin-top: 2rem;
  }
  .main-content-des {
    font-size: 1.8rem;
  }
  .star-title {
    text-align: center;
  }
  .footer {
    padding: 7rem 2rem;
  }
  .footer-text-link {
    font-size: 1.6rem;
  }
  .footer-text-header {
    font-size: 2rem;
  }
}
